fastapi[standard]
uvicorn
curl_cffi
beautifulsoup4
lxml
aiohttp
python-dotenv
sqlalchemy
aiosqlite
pydantic
websockets
sse-starlette
dnspython
guessit
dateparser
pytest
pytest-asyncio
httpx

qbittorrent-api
myjdapi
